* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(rgb(226, 154, 21), rgb(209, 33, 33));
  height: 100vh;
}

.calculator-grid {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 1rem;
}

.calculator-grid > button.orange {
  background-color: rgb(226, 154, 21);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1/-1;
  background-color: rgba(0, 0, 0, 0.75);
  color: rgba(255, 255, 255, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 1.5rem;
  padding: 0 1rem;
}
